[pull]
	rebase = true
[init]
	defaultBranch = main
[user]
	email = george.apoputoaei@gmail.com
	name = george
	signingkey = ~/.ssh/id_rsa.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[core]
	editor = /bin/cat
